@page
@model TeamProject.Pages.Customer.Films.DeleteModel
@{
}

<form method="post">
<input hidden asp-for="Film.Id"/>
<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary pl-3">Delete Film</h2>
    </div>

        <div class="mb-3">
            <label asp-for="@Model.Film.FilmName"></label>
            <input asp-for="@Model.Film.FilmName" class="form-control" />
            <span asp-validation-for="@Model.Film.FilmName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Film.Description"></label>
            <input asp-for="@Model.Film.Description" class="form-control" />
            <span asp-validation-for="@Model.Film.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Film.Duration"></label>
            <input asp-for="@Model.Film.Duration" class="form-control" />
            <span asp-validation-for="@Model.Film.Duration" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Film.ageRating"></label>
            <input asp-for="@Model.Film.ageRating" class="form-control" />
            <span asp-validation-for="@Model.Film.ageRating" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-page="Index" class="btn btn-secondary">Back to Index</a>
</div>
</form>
@section Scripts{
    @{
        <partial name="_validationScriptsPartial" />
    }
}
