@page
@model TeamProject.Pages.Admin.Tickets.CreateModel
@{
}

<form method="post">
<div class="border p-3 mt-4">
    <div class="row pb-2">
         <h2 class="text-primary pl-3">Create New Ticket</h2>
    </div>
        <div class="mb-3">
            <label asp-for="@Model.Ticket.bookingId"></label>
            <select asp-for="@Model.Ticket.bookingId" asp-items="@Model.BookingList" class="form-control">
                <option disabled selected="selected Booking ---"> </option>
            </select>
            <span asp-validation-for="@Model.Ticket.bookingId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Ticket.typeId"></label>
            <select asp-for="@Model.Ticket.typeId" asp-items="@Model.TypeList" class="form-control">
                <option disabled selected="selected Type ---"> </option>
            </select>
            <span asp-validation-for="@Model.Ticket.typeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Ticket.screeningId"></label>
            <select asp-for="@Model.Ticket.screeningId" asp-items="@Model.ScreeningList" class="form-control">
                <option disabled selected="selected Screening ---"> </option>
            </select>
            <span asp-validation-for="@Model.Ticket.screeningId" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary">Create</button>
</div>
</form>
@section Scripts{
    @{
        <partial name="_validationScriptsPartial" />
     }
} 